<footer id="footer" class="footer">
    <div class="wrap">
        <div class="footer-content footer-insert">
            <p class="copyright">Copyright © 2017 wubounce</p>
            <p class="credit"><a class="theme-link" href="javascript:;">wubounce WordPress</a></p>
        </div>
    </div>
</footer>
</body>

</html>